@tailwind base;
@tailwind components;
@tailwind utilities;


.animateBg {
  animation-name: bganimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}


@keyframes bganimation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.educationSection {
  background: linear-gradient(#0f172ae3, #0f172ae3), url("../../public/img/bgEdu.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.jodit-wysiwyg {
  height: 300px !important;
}

.animated-text {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .animated-text {
    font-size: 30px;
  }
}

/* Apply the animation to the .animate-circle class */
.animate-circle {
  animation: rotate 4s linear infinite;
  /* Continuous rotation */
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}